{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.merch.merch.enable }}
{{ with $data.merch.merch }}
{{"<!-- Start Merch Section -->" | safeHTML}}
<section class="bg-one about section" id="merch">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>{{.title}}</h2>
				</div>
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<img src="/images/icons/Fire.gif" />
					<img src="/images/icons/Merchant.gif" />
					<img src="/images/icons/Fire.gif" />
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .merch_item }}
			{{"<!-- Merch item -->" | safeHTML}}
			<div class="col-lg-4 text-center wow fadeInUp merch-box" data-wow-duration="500ms">
				<div class="block">
					<div class="merch-icon">
						{{with .icon}}<img src="{{ . }}"></i>{{ end }}
					</div>
					{{"<!-- Express About Yourself -->" | safeHTML}}
					<div class="content text-center">
						<h3>{{ .title }}</h3>
						<p>{{ .price | markdownify }}</p>
						<div>
							{{ range .links }}
								<a href="{{ .url }}" target="_blank">
									<img src="{{ .icon }}" class="merch-link" />
								</a>
							{{ end }}
						</div>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /merch -->" | safeHTML}}
{{ end }}
{{ end }}