<section class="section" id="onair">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 onair-title">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>
                        On Air
                    </h2>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            <div id="onair0" class="col-lg-6 col-md-12 col-12 wow fadeInDown onair" data-wow-duration="500ms"></div>
            <div id="onair1" class="col-lg-6 col-md-12 col-12 wow fadeInDown onair" data-wow-duration="500ms"></div>
            <div id="onair2" class="col-lg-6 col-md-12 col-12 wow fadeInDown onair" data-wow-duration="500ms"></div>
            <div id="onair3" class="col-lg-6 col-md-12 col-12 wow fadeInDown onair" data-wow-duration="500ms"> </div>
        </div>
    </div>
</section>