{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.podcast.podcast.enable }}
{{ with $data.podcast.podcast }}
{{ "<!-- Start Merch Section -->" | safeHTML }}
<section class="bg-one about section" id="podcast">
    <div class="container">
        <div class="row justify-content-center">
            {{ "<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{.title}}</h2>
                </div>
            </div>
            {{ "<!-- /section title -->" | safeHTML }}
            <div class="col-lg-6 col-md-6 col-3 wow fadeInDown"></div>
            <div class="col-lg-6 col-md-6 col-9 wow fadeInDown podcasts">
                <div id="podcast-patreon" class="row podcast" data-wow-duration="500ms">
                    <div class="col-lg-3 col-md-3 col-6">
                        <a href="https://www.patreon.com/funnydanny" target="_blank">
                            <img src="./images/icons/questionmark.png">
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-6">
                        <a href="https://www.patreon.com/funnydanny" target="_blank">
                            <h4 class="podcast-title">Episode ? on Patreon</h4>
                        </a>
                    </div>
                </div>
                <div class="podcast-container"></div>
                <div class="row podcast" data-wow-duration="500ms">
                    <div class="col-lg-3 col-md-3 col-6">
                        <a href="https://you-seem-interesting.captivate.fm/" target="_blank">
                            <img src="./images/icons/fdhead.png">
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-6">
                        <a href="https://you-seem-interesting.captivate.fm/" target="_blank">
                            <h4 class="podcast-title">More episodes</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-9 wow fadeInDown podcasts">
                
            </div>
        </div>
    </div>
</section>
{{ "<!-- /merch -->" | safeHTML }} {{ end }} {{ end }}