{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.podcast.podcast.enable }}
{{ with $data.podcast.podcast }}
{{"<!-- Start Merch Section -->" | safeHTML}}
<section class="bg-one about section" id="podcast">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>
						<img src="images/8bit/podcast.png" />
						{{.title}}
						<img src="images/8bit/podcast.png" />
					</h2>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			<div id="podcast0" class="col-lg-6 col-md-12 col-12 wow fadeInDown podcast" data-wow-duration="500ms"></div>
		</div>
	</div>
</section>
{{"<!-- /merch -->" | safeHTML}}
{{ end }}
{{ end }}