<section class="section" id="youtube">
	<div class="container">
		<div class="row justify-content-center">
			{{"<!-- section title -->" | safeHTML}}
			<div class="col-lg-12 youtube-title">
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>YOUTUBE</h2>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

				<div id="youtube0" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube1" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube2" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube3" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtubeX" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms">
					<div class="youtube-box">
						<img src="/images/icons/fdhead.png" />
					</div>
				</div>
				<div id="youtube4" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube5" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube6" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>
				<div id="youtube7" class="col-lg-4 col-md-8 col-12 wow fadeInDown youtube" data-wow-duration="500ms"></div>


		</div>
	</div>
</section>